<!-- shared/components/select/select.component.html -->
<div class="app-select" [class.is-invalid]="isInvalid && touched">
    @if (label) {
    <label class="app-select__label">
        {{ label }}
        @if (required) {
        <span class="app-select__required">*</span>
        }
    </label>
    }

    <ng-select [items]="items" bindLabel="label" bindValue="value" [placeholder]="placeholder" [(ngModel)]="value"
        (ngModelChange)="onValueChange($event)" (blur)="onBlur()" [disabled]="disabled" [searchable]="false"
        [clearable]="false" [required]="required" [class.ng-invalid]="isInvalid" [class.ng-touched]="touched">
    </ng-select>

    @if (isInvalid && touched && errorMessage) {
    <div class="app-select__error">{{ errorMessage }}</div>
    }
</div>