<footer class="sme-footer">
    <div>
        <a class="sme-logo" routerLink="/">{{ 'APP_NAME' | translate }}</a>
        <p>{{ 'FOOTER_DESC' | translate }}</p>
    </div>
    <div>
        <h3>{{ 'FOOTER_SOLUTIONS' | translate }}</h3>
        <a href="#solutions">{{ 'FOOTER_BUY_GROUP' | translate }}</a>
        <a href="#talent">{{ 'FOOTER_OPTIMIZE' | translate }}</a>
        <a href="#suppliers">{{ 'FOOTER_SUPPLY_NETWORK' | translate }}</a>
    </div>
    <div>
        <h3>{{ 'FOOTER_COMMUNITY' | translate }}</h3>
        <a href="#community">{{ 'FOOTER_FORUM' | translate }}</a>
        <a href="#talent">{{ 'FOOTER_SUPPORT' | translate }}</a>
        <a href="#stories">{{ 'FOOTER_RESOURCES' | translate }}</a>
    </div>
    <div>
        <h3>{{ 'FOOTER_LEGAL' | translate }}</h3>
        <a routerLink="/privacy">{{ 'FOOTER_PRIVACY' | translate }}</a>
        <a routerLink="/terms">{{ 'FOOTER_TERMS' | translate }}</a>
    </div>
    <p class="sme-footer__copy text-center">{{ 'FOOTER_COPYRIGHT' | translate }}</p>
</footer>