/* shared/components/layouts/admin-layout/admin-header/admin-header.component.css */
:host {
    display: block;
}

.text-secondary {
    color: var(--text);
}

.bg-danger {
    background-color: var(--danger);
}

.bg-primary {
    background-color: var(--accent);
}